* {
    font-family: "Poppins" !important;
}

body {
    background: #f5f5f2 !important;
}

.nav-link {
    color: black !important;
    padding: 0 25px !important;
    font-size: 20px !important;
}

.hero-content p {
    padding: 20px !important;
    text-align: center !important;
    font-size: 26px !important;
}

.hero-content h1 {
    text-align: center !important;
    letter-spacing: 4px;
}

.hero-content a {
    padding: 5px;
    margin: 5px;
}

.hero-btn {
    padding: 10px !important;
    font-weight: 500 !important;
    font-size: 22px !important;
}

.home-search input {
    width: 100%;
    padding: 15px 0;
    text-align: center;
    border: 1px solid black !important;
}

.cat-btn {
    padding: 30px !important;
    font-size: 30px !important;
}

.row-cs {
    background: white !important;
}

.row-cs a {
    text-decoration: none;
}

.card {
    border: none !important;
    background: white !important;
    display: flex;
    justify-content: end;
}

.order-btn {
    padding: 5px 20px !important;
}

.card img {
    height: 80% !important;
    width: 80% !important;
    object-fit: contain !important;
}

.col-lg-8 {
    width: 100% !important;
}

.carousel-inner {
    height: 80vh !important;
}

.hero-slide {
    height: 85vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
}

.hero-content {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center !important;
    color: #fff;
    max-width: 600px;
}

.hero-content h1 {
    font-size: 3rem;
    font-weight: 700;
}

.hero-content p {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
}

nav {
    padding: 20px !important;
}

.navbar-brand {
    letter-spacing: 0.5px;
}

.nav-link {
    font-weight: 500;
}

.nav-link:hover {
    color: #CFAE70;
}

.btn-primary {
    background-color: #0070C9;
    border: none;
}

.btn-primary:hover {
    background-color: #005999;
}

.btn-danger {
    background-color: #FF2D55;
    border: none;
}

.btn-danger:hover {
    background-color: #cc2644;
}

@media (max-width: 600px) {

    .hero-content h1 {
        font-size: 30px !important;

    }

    .hero-content p {
        font-size: 20px !important;
    }

    .card {
        justify-content: center !important;
        height: auto !important;
    }

    .card img {
        height: 180px !important;
        width: 100% !important;
    }

    .row-cs {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr) !important;
        gap: 0px !important;
        /* display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 12px */
    }

    .row-cs card {
        height: 346px !important;
        width: 145px !important;
    }
}